@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
}

li {
    list-style: none;
}
.d-none {
    display: none;
}
#style-3::-webkit-scrollbar-thumb
{
	background-color: black;
}
#style-3::-webkit-scrollbar-track
{
	-webkit-box-shadow: white;
	background-color: transparent;
}

#style-3::-webkit-scrollbar
{
	width: 6px;
	background-color: transparent;
}
